*,
*::before,
*::after {
	box-sizing: border-box;
}

.body {
	margin: 0;
	font-family: "Noto Sans", sans-serif;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.none {
	display: none;
}

.nav {
	padding: 40px 0;
}

.nav__row {
	display: flex; /* все вложенные элементы выстроятся в ряд */
	justify-content: flex-start; /* Блоки прижаты к началу главной оси */
	align-items: center;
}

.nav__logo,
a.nav__logo {
	margin-right: 83px;
	text-decoration: none;
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	color: #000000;
}
a.nav__logo:hover {
	text-decoration: underline;
}

.nav__list {
	display: flex;
	font-family: "Noto Sans";
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav__item {
	margin-right: 30px;
	font-size: 18px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	text-decoration: none;
	color: #000;
}

.nav__link:hover {
	color: #f72464;
}

.nav__cart {
	/*позиционируем корзину*/
	margin-left: auto; /* предоставляtn браузеру самостоятельно вычислять отступ элемента */
}

.nav__cart-link {
	position: relative;
	top: 5px;
	display: inline-block;
	padding: 5px;
}

/*пропишем положение красного кружочка*/
.nav__cart-number {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: #f72464;
}

.header__row {
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.header__content {
	position: absolute;
	width: 670px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.header__title {
	margin: 0;
	margin-bottom: 20px;
	font-family: "Playfair Display", serif;
	font-weight: normal;
	font-size: 72px;
	line-height: 96px;
}

.header__text {
	margin-bottom: 60px;
	font-family: "Noto Sans";
	font-size: 22px;
	line-height: 1.5;
}

.button {
	/*Что бы корректно работали свойста блочной модели пропишем : */
	display: inline-block; /*ширина при этом будет по ширине контента и не будет растягиваться*/
	padding: 11px 33px 14px;
	background-color: #f72464;
	box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
	border-radius: 4px;
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: #ffffff;

	/*для применении hover пропишем плавность изменения тени и фона*/
	transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}

.button:hover {
	box-shadow: 0px 4px 35px rgba(123, 12, 45, 0.76);
	background-color: #f3034b;
}

.featured-section {
	padding-top: 60px;
	padding-bottom: 70px;
}

.section-header {
	margin-bottom: 40px;
}
.section-header__title {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 56px;
	text-align: center;
	color: #000000;
}

.section-header__description {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #999999;
}

.section-header__description p {
	margin-top: 0;
}

.products-wrapper {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap; /*сделали перенос элементов блока*/
	justify-content: space-between;
	row-gap: 40px; /*отступ между рядами блока*/
}

.product-link {
	display: inline-block; /*делаем ссылку строчно-блочным элементом*/
	text-decoration: none;
	transition: opacity 0.2s ease-in;
}
.product-link:hover {
	opacity: 0.8;
}

.product {
	text-align: center;
	max-width: 270px;
}
.product__img {
	display: block;
	margin-bottom: 12px;
}

.product__title {
	margin: 0; /*удаляем отступы по умолчанию для заголовков*/
	margin-bottom: 12px;
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	color: #000000;
}
.product__price {
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	font-family: "Noto Sans";
}
.product__price-old {
	margin-bottom: 10px;
	color: #999999;
}
.product__price-new {
	font-weight: bold;
	color: #f72464;
}

.section-button-wrapper {
	text-align: center;
}
.button-outline {
	display: inline-block;
	padding: 10px 40px 11px;
	background: #ffffff;
	border: 1px solid #f72464;
	border-radius: 4px;

	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #777777;
	transition: background-color 0.35s ease-in, color 0.35s ease-in;
}

.button-outline:hover {
	background-color: #f72464;
	color: #fff;
}
