/*кнопка в шапке сайта*/
.button {
	/*Что бы корректно работали свойста блочной модели пропишем : */
	display: inline-block; /*ширина при этом будет по ширине контента и не будет растягиваться*/
	padding: 0.42307em 1.26923em 0.538461em;
	background-color: #f72464;
	box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
	border-radius: 4px;
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: #ffffff;

	/*для применении hover пропишем плавность изменения тени и фона*/
	transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in;
}
@media (min-width: 992px) {
	.button {
		font-size: 26px;
	}
}
.button:hover {
	box-shadow: 0px 4px 35px rgba(123, 12, 45, 0.76);
	background-color: #f3034b;
}

/*кнопка в разделе New Products сайта*/
.button-outline {
	display: inline-block;
	padding: 10px 40px 11px;
	background: #ffffff;
	border: 1px solid #f72464;
	border-radius: 4px;

	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #777777;
	transition: background-color 0.35s ease-in, color 0.35s ease-in;
}
.button-outline:hover {
	background-color: #f72464;
	color: #fff;
}
/*позиционирование для кнопки в разделе New Products*/
.section-button-wrapper {
	text-align: center;
}
