.nav {
	padding: 40px 0;
}

.nav__row {
	display: flex; /* все вложенные элементы выстроятся в ряд */
	justify-content: flex-start; /* Блоки прижаты к началу главной оси */
	align-items: center;
}

.nav__logo,
a.nav__logo {
	margin-right: 83px;
	text-decoration: none;
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	color: #000000;
}
a.nav__logo:hover {
	text-decoration: underline;
}

.nav__list {
	display: flex;
	font-family: "Noto Sans";
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav__item {
	margin-right: 30px;
	font-size: 18px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__link {
	text-decoration: none;
	color: #000;
}

.nav__link:hover {
	color: #f72464;
}

.nav__cart {
	/*позиционируем корзину*/
	margin-left: auto; /* предоставляtn браузеру самостоятельно вычислять отступ элемента */
}

.nav__cart-link {
	position: relative;
	top: 5px;
	display: inline-block;
	padding: 5px;
}

/*пропишем положение красного кружочка*/
.nav__cart-number {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: #f72464;
}
