.posts-wrapper {
	margin-bottom: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 40px; /*Значение ширины межстрочного интервала*/
	column-gap: 30px;
}
@media (min-width: 992px) {
	.posts-wrapper {
		margin-bottom: 75px;
	}
}
.post {
	max-width: 570px;
	display: flex;
	justify-content: space-between;
	flex-grow: 1; /*определяет как много свободного пространства во flex-контейнере должно быть назначено текущему элементу (flex grow factor — «коэффициент увеличения flex»).*/
	align-items: flex-start; /*Блоки прижаты к началу поперечной оси.*/
	column-gap: 15px;
}
@media (min-width: 400px) {
	.post {
		column-gap: 30px;
	}
}
.post__img {
	max-width: 120px;
}
@media (min-width: 992px) {
	.post__img {
		max-width: 170px;
	}
}

.post-content {
	max-width: 370px;
	/*позиционируем блок с текстом по центру картинки*/
	display: flex; /*все элементы выстроятся в ряд*/
	flex-direction: column; /*расположим элементы в колонку*/
	justify-content: center; /*центрируем по главной оси(здесь: по вертикальной)*/
}

.post__title {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Playfair Display", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #000000;
}

.post__text {
	margin: 0 0 10px;
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.3;
}

/*ссылка со стрелочкой*/
.post__read-more {
	font-family: "Playfair Display";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	color: #000000;
}
/*добавим иконку-стрелочку справа*/
.post__read-more::after {
	content: "";
	display: inline-block;
	margin-left: 2px;
	width: 24px;
	height: 24px;
	vertical-align: text-top;

	background-image: url(./../../img/icons/chevron-right.svg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;

	transition: margin 0.3s ease-in;
}
.post__read-more:hover {
	color: rgb(224, 64, 6);
}
.post__read-more:hover::after {
	margin-left: 15px;
}
